LinkedU/web/WEB-INF/wsdl/gfish.ad.ilstu.edu_8080/ISUTextSMS2/TextSenderService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://it.ilstu.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://it.ilstu.edu/">

<xs:element name="getCarriers" type="tns:getCarriers"/>

<xs:element name="getCarriersResponse" type="tns:getCarriersResponse"/>

<xs:element name="sendSMS" type="tns:sendSMS"/>

<xs:element name="sendSMSResponse" type="tns:sendSMSResponse"/>

<xs:complexType name="sendSMS">
<xs:sequence>
<xs:element name="carrier" type="xs:string" minOccurs="0"/>
<xs:element name="telephoneNum" type="xs:string" minOccurs="0"/>
<xs:element name="text" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendSMSResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarriers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarriersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>